In [59]:
import numpy as np
import pandas as pd
import re

Build the Avg_Salary_By_Discipline table

In [261]:
!cat 2015Avg.txt

Humanities $45,042 58

In [291]:
#extract category names as dictionary keys

def parse_avg_salary_data(filename):
    '''

    DO THE DOCSTRING

    '''
    avg_lst = []
    avg_dict = {}
    avg_dict['Year'] = filename[:4]
    regpat = '^[0-9]+,[0-9]+'

    with open(filename, 'r') as f:
        lines = f.readlines()
        for line in lines: 
            avg_lst.append(line.split('$'))

    for i in range (1,len(avg_lst)):
        salary = avg_lst[i][1]
        salary = int(re.search(regpat,salary).group(0).replace(',',''))
        avg_dict[avg_lst[i][0].strip().upper().replace(' ','_')] = salary    
    
    return avg_dict

In [292]:
#generate a list of file names
#call function above to return a dictionary for each, then append values
def get_avg_salary_data(years):
    '''
    
    DO THE DOCSTRING
    
    '''
    avg_salary_by_cat = {}

    #calls function to parse salary data for years provided
    for year in years:
        filename = year+'Avg.txt'
        temp_dict = parse_avg_salary_data(filename)

        #generates master dictionary
        for key, value in temp_dict.items():
            if key not in avg_salary_by_cat:
                avg_salary_by_cat[key] = [value]
            else:
                avg_salary_by_cat[key].append(value)

    #eliminates keys (categories) with insufficient reporting data
    keys_to_remove = []
    for key,value in avg_salary_by_cat.items():
        if len(value) < 8: keys_to_remove.append(key)
    for keys in keys_to_remove:
        avg_salary_by_cat.pop(keys)
        


    return avg_salary_by_cat

In [315]:
#call the function to generate table of average salaries for each main reporting category

years = ['2015','2016','2017','2018','2019','2020','2021','2022']
avg_salary_by_cat = get_avg_salary_data(years)

col_years = avg_salary_by_cat.pop('Year')
for i in range(len(col_years)):
    col_years[i] += '_avg_sal'
col_years.insert(0,'Category')
    
avg_salary_cat = pd.DataFrame(avg_salary_by_cat).T.reset_index()
avg_salary_cat.columns=col_years
avg_salary_cat

,Category,2015_avg_sal,2016_avg_sal,2017_avg_sal,2018_avg_sal,2019_avg_sal,2020_avg_sal,2021_avg_sal,2022_avg_sal
0,ENGINEERING,62998,64891,66097,66521,69188,69961,71088,73922
1,COMPUTER_SCIENCE,61287,61321,65540,66005,67539,67411,72173,75900
2,MATH_&_SCIENCES,56171,55087,59368,61867,62177,62488,63316,66760
3,BUSINESS,51508,52236,54803,56720,57657,57939,58869,60695
4,AGRICULTURE_&_NATURAL_RESOURCES,51220,48729,54364,53565,55750,53504,54857,57807
5,COMMUNICATIONS,49395,47047,51925,51448,52056,56484,58174,55455
6,SOCIAL_SCIENCES,49047,46585,53459,56689,57310,57425,59919,61173
7,HUMANITIES,45042,46065,48733,56688,56651,53617,59500,50681